{
  "presets": [["@babel/preset-env", { "modules": false }]],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-export-namespace-from",
    [
      "module-resolver",
      {
        "alias": {
          "@transformator": "./transformator",
          "@helpers-for-tests": "./helpers-for-tests"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-flow"],
      "plugins": ["@babel/plugin-proposal-export-default-from"]
    }
  }
}
