{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true,
    "node": true
  }
}
