@mixin vertical-rhythm_single($color: $thythm-color) {
  background-image: linear-gradient(to bottom, $color 1px, transparent 0);
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% 2rem;
}

@mixin vertical-rhythm_double ($color: $thythm-color) {
  background-image: linear-gradient(
    to bottom,
    $color 1px,
    transparent 0,
    transparent 0.5 * 2rem,
    $color 0.5 * 2rem,
    transparent calc(0.5 * 2rem + 1px),
    transparent 2rem
  );
  background-position: left top;
  background-repeat: repeat;
  background-size: 100% 2rem;
}

[data-rhythm='single'] {
  @extend %vertical-rhythm;
  @include vertical-rhythm_single();
}

[data-rhythm='double'] {
  @extend %vertical-rhythm;
  @include vertical-rhythm_double();
}
