// To learn more https://github.com/modularscale/modularscale-sass

@import '~mathsass/dist/math';
@import '~modularscale-sass/stylesheets/modularscale';

$root-size: 75%;
$font-size: 1.33333rem;
$line-height: 1.5;

$modularscale: (
  base: $font-size,
  ratio: 3.33333at6
);


:root {
  font-size: $root-size; }

body {
  display: flex;
  background-color: #999;
  font-size: $font-size;
  line-height: $line-height;
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: ms(6);
  line-height: 4rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: ms(5);
  line-height: 3rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: ms(4);
  line-height: 3rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: ms(3);
  line-height: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: ms(2);
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: ms(1);
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  font-size: ms(0);
  margin-bottom: 1rem;
}
