@import 'normalize.css';
@import './vars';
@import './global';
@import './typography';

.container {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 500px;

  @t-above (tablet) {
    max-width: 550px;
  }

  @t-above (desktop) {
    max-width: 650px;
  }

  @t-above (lg-desktop) {
    max-width: 710px;
  }
}
